Statistic
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>No. of Late Arrivals</th>
      <th>Average Arrival Time</th>
     
    </tr>
  </thead>

  <tbody>
  	<%@users.sort_by!{|e| e.name.downcase}%>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% count=0 %>
        <% a=user.user_times.map{|e| e.arrival_time.localtime.strftime("%H:%M:%S :%z")}%>
		<% for i in 0..a.length-1 %>
		<% if a[i] > ("10:00:00 +0530") %>
			<% count=count+1 %>
		<%end%>
		<%end%>
        <% c=Array.new %><% c<<count%>
        <td><%= "#{count}" %></td>
        
        <td><%= number_with_precision(user.average_time(a), :precision => 2)%></td>
       
      </tr>
    <% end %>
  </tbody>                 
</table>

<br>