<!DOCTYPE html>
<html>
<center><h1><font color="#800000">Welcome To User Time Tracking System!</font></h1><br></center>
<head>
  <title>UserTimeTracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#FAF0FF;">

<%= yield %>

</body>
</html>
